@media (min-width: 576px){
	main{ max-width: 540px;}
	nav{max-width: 540px;}
}
@media (min-width: 768px){
	main{ max-width: 720px; }
	nav{ max-width: 720px;}
}
@media (min-width: 992px){
	main{ max-width: 960px; }
	nav{ max-width: 960px;}
}
@media (min-width: 1200px){
	main{ max-width: 1140px; }
	nav{ max-width: 1140px;}
}
a{
	text-decoration: none;
}
main {
	width: 100%;
	padding: 20px 15px 20px 15px;
	margin-left: auto;
	margin-right: auto;
}
header{
	width: 100%;
	background-color: #1E3972;
	margin: -8px auto auto -8px;
	padding-left: 16px ;
}
nav {
	width: 100%;
	padding: 20px 15px 20px 15px;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: #FBFBFB;
}
h1{
	color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
h2{
	color: black;
	text-align: center;
	padding: 0px;
	margin: 8px 0px;
}
#game-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#create-people{
	background-color: white;
	padding: 20px;
	border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
input{
	width: 100%;
}
.createform{
	width: 30%;
	padding: 10px 15px;
	border: 1px solid black;
	border-radius: 10px;
	margin: auto;
}
.areabtn{
	padding: 10px 15px;
}
.areabtnin{
	padding: 10px 15px;
	margin: auto;
	width: 30%;
	display: flex;
}